:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 60px; /* Adjust for fixed tab-bar */
  background-color: #18181b; /* zinc-900 */
}

#app {
  max-width: 100%;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

